<h1>Edit <em><%= @task.title %><em></h1>

<!-- app/views/restaurants/edit.html.erb -->
<%= form_with model: @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.submit %>
<% end %>

<hr>
<li><%= link_to "Return to all tasks", tasks_path %></li>
