<h1><%= @task.title %></h1>
  <p>
  <%= @task.details %>
  </p>


<hr>
<%= link_to "Edit this task", edit_task_path %></li>
<%= link_to "Return to all tasks", tasks_path %></li>

<p></p>

<%# the text int he button the path to ID we will dlete %>
<%= link_to "Delete",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
